@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lavishly+Yours&family=Playwrite+IE:wght@100..400&display=swap');

/* Genel Ayarlar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #123524;
}

header {
    background: #47663B;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.navbar a:hover {
    background-color: #EFE3C2;
    color: #394049;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* Anasayfa için Arka Plan Resmi */
.hero {
    height: 100vh;
    background: url('/rekfit-outdoor/img/Anasayfa.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    color: blanchedalmond;
    font-family: "Playwrite IE", cursive;
    font-weight: 700;
    font-style: normal;
}  

.hero h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px black;
}

/* Diğer Ayarlar */
section {
    padding: 2rem;
}






